.btn-shop {
    color: #fff;
    background-color: #1c7430;
    border-color: #343a40;
}
.gradiant {
    background: radial-gradient(40% 50%, #d4c3a8, #44ae7e);
}

a.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    margin-left: 80%;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}
a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

body {
    padding-top: 40px;
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}

.masonry {
    columns: 4;
    column-gap: 16px;
    @media (max-width: 1200px) {
        columns: 3;
    }
    @media (max-width: 992px) {
        columns: 2;
    }
    //@media (max-width: 768px) {columns: 1;}
    .grid {
        display: inline-block;
        margin-bottom: 16px;
        position: relative;

        &:before {
            border-radius: 5px;
            content:'';
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-color:rgba(0,0,0,.2);
        }
        img {
            width: 100%;
            border-radius: 5px;
        }
        &__title {
            font-size: 28px;
            font-weight:bold;
            margin: 0px 0px 10px 0px;
        }
        &__author {
            font-size: 14px;
            font-weight:300;
        }
        &__link {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        &__body {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 30px 40px;
            color: #fff;
            display: flex;
            flex-direction: column
        }
        &__tag {
            border-radius:5px;
            padding: 5px 15px;
            margin-bottom: 5px;
        }
    }
}
.mt-auto {
    margin-top:auto;
}

.price{
    background-color: #fffacc;
    color: #ec241d;
    padding: 5px;
    border-radius:5px;
    text-align: center;
    margin: 5px;
}

.item{
    background-color: #c48d4b;
    color: #6b2522;
    padding: 5px;
    border-radius:5px;
    text-align: center;
}


